/*COMMENTS*/
/* Комментарии */
#comments {
  clear: both;
  padding-left: 90px;
  margin-top: 60px;
  padding-right: 30px;
  background: #fff none repeat scroll 0 0;
}
 
#comments .navigation {
  padding: 0 0 18px 0;
}
 
h3#reply-title {
  position: relative;
  max-width: 320px;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
  margin: 0 auto 30px;
  padding-right: 5px;
  cursor: pointer;
}
h3#reply-title i {
  position: absolute;
  right:0;
  top:0;
}
.rotate {
  transform:rotate(180deg);
}
h3#reply-title:hover i {
  color: #998675;
}
.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.commentlist li.comment {
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0;
  position: relative;
}
.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
  margin-bottom: 18px;
}
#comments .comment-body p:last-child {
  margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
  margin-bottom: 24px;
}
.commentlist ol {
  list-style: decimal;
}
 
.commentlist .avatar {
    position: absolute;
    left: -60px;
    top: 0;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 100%;
    border-radius: 100%; 
}
 
.children li .comment-author {
  padding-top: 20px;
}
 
.comment-author cite {
  color: #444444;
  font-style: normal;
  font-family: "OpenSansBold", sans-serif;
}
.comment-author .says {
  font-style: italic;
}
.comment-meta {
  font-size: 12px;
  margin: 0;
}
 
.comment-body p {
  padding-left: 0px;
  margin: 0;
  font-size: 14px;
}
 
.comment-meta a:link,
.comment-meta a:visited {
  color: #cdcdcd;
  text-decoration: none;
  padding-left: 4px;
  font-size: 12px;
}
.comment-meta a:active,
.comment-meta a:hover {
  color: #4A4A4A;
}
 
.comment-meta {
  color: #CDCDCF;
}
 
.reply {
  padding-bottom: 24px;
  padding-left: 0px;
  padding-top: 15px;
}
 
.reply a {
  font-size: 12px;
  background: #aaaaaa;
  color: #fff;
  padding: 1px 9px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  border-radius: 2px;
  font-family: "OpenSansBold", sans-serif;
}
 
.reply a:hover {
  background: #998675;
  color: #fff;
  text-decoration: none;
}
 
a.comment-edit-link {
  color: #888;
}
 
a.comment-edit-link:hover {
  color: #4A4A4A;
}
.commentlist .children {
  list-style: none;
  margin: 0;
  padding: 0;
}
.commentlist .children li {
  border: none;
    margin: 0;
    padding-left: 50px;
    position: relative;
}
 
.comment-body { 
  border-bottom: 1px solid #e7e7e7;
}
 
.commentlist .children p {
  margin: 0;
  padding-left: 0px;
}
 
.commentlist .children .reply {
  padding-left: 0px;
}
 
.commentlist .children li .avatar {
  height: 40px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 40px;
}
 
.nopassword,
.nocomments {
  display: none;
}
#comments .pingback {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 18px;
  padding-bottom: 18px;
}
 
.commentlist li {
  padding-left: 60px;
}
 
.commentlist li.comment+li.pingback {
  margin-top: -6px;
}
#comments .pingback p {
  color: #888;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
#comments .pingback .url {
  font-size: 13px;
  font-style: italic;
}
 
.fn {
  font-size: 16px;
}
 
.fn span {
  font-size: 20px;
}
 
.fn a {
  color: #7A7A7A;
  font-size: 18px;
    font-family: "OpenSansBold", sans-serif;
}
 
.fn a:hover {
  color: #000;
  text-decoration: none;
}
 
.comment-awaiting-moderation {
  color: #333;
  font-size: 14px;
}
 
/* Comments form */
input[type="submit"] {
  color: #333;
}
#respond {
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
#respond p {
  margin: 0;
  font-size: 14px;
}
#respond .comment-notes  {
  margin-bottom: 15px;
  font-size: 12px;
  color: #999;
}
 
#respond .comment-notes span {
  font-size: 12px;
}
 
#respond .comment-notes p {
  font-size: 14px;
}
 
.form-allowed-tags {
  line-height: 1em;
}
.commentlist li.comment #respond {
  margin-top: 10px;
}
 
.commentlist li.comment #respond textarea {
  padding-top: 2px;
  padding-left: 8px;
}
 
.commentlist li.comment #email-notes, .commentlist li.comment #respond .comment-notes {
  display: none;
}
 
.commentlist li.comment #respond h3#reply-title {
  font-size: 18px;
  margin-bottom: 15px;
}
 
.commentlist li.comment #respond .comment-notes {
  margin-bottom: 15px;
}
 
.children #respond .form-submit input {
  font-size: 16px;
}
 
.commentlist li.comment #respond .form-submit input {
  font-size: 16px;
} 
 
#comments-list #respond {
  margin: 0 0 18px 0;
}
#comments-list ul #respond {
  margin: 0;
}
 
#cancel-comment-reply-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  float: right;
  color: #aaa;
}
 
#cancel-comment-reply-link:hover {
  color: #FF8100;
}
 
#respond .required {
  color: #e8554e;
}
#respond #commentform {
  padding-bottom: 20px;
}
 
#respond label {
  color: #565656;
  font-size: 16px;
  font-family: "OpenSansBold", sans-serif;
}
 
#respond span {
  font-size: 20px;
}
 
#respond input {
  margin: 5px 0 9px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding-left: 10px;
  color: #666666;
  border: 1px solid #eaeaea;
  background: #f2f2f2;
}
 
#respond textarea {
  width: 100%;
  max-width: 920px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 5px;
  color: #666666;
  height: 200px;
  background: #f2f2f2;
  margin-top: 5px;
  resize: none;
  border-radius: 2px;
}
 
#respond input:focus { 
  border: 1px solid #CDCDCD; 
  background: #f9f9f9;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}
 
#respond input:focus:required:invalid, textarea:focus:required:invalid {
      outline: none;
    }
 
#respond input:focus:required:valid, 
textarea:focus:required:valid {
      outline: none;
    }
 
#respond textarea:focus { 
  border: 1px solid #CDCDCD; 
  background: #f9f9f9;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}   
 
#respond .form-allowed-tags {
  color: #888;
  font-size: 12px;
  line-height: 18px;
}
#respond .form-allowed-tags code {
  font-size: 11px;
}
#respond .form-submit {
  margin: 12px 0;
}
#respond .form-submit input {
  font-size: 16px;
  width: auto;
  font-family: "OpenSansBold", sans-serif;
  padding: 0 18px;
  background: rgba(10, 10, 10, 0.7);
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(10, 10, 10, 0.1);
  margin-top: 10px;
  cursor: pointer;
}
 
#respond .form-submit input:hover {
  border: 1px solid #998675;
  background-color: #998675;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}   
 
#respond .logged-in-as {
  font-size: 16px;
  padding-bottom: 10px;
}
 
#respond .logged-in-as a {
  font-size: 14px;
  color: #323232;
}
 
#respond .logged-in-as a:hover {
  color: #c7b299;
}
